<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_DIR" value="/logstore/esap/apps/SmscStub/log"/>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/debug_SmscStub.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/debug_SmscStub.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="END_TO_END" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/end_to_end.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/end_to_end.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd},%d{HH:mm:ss'.'SSS},%msg%n</pattern>
        </encoder>
    </appender>

    <!-- When akka.event.Logging is given a string as logSource it appends context information. -->
    <logger name="EndToEnd(akka://smsc-stub-server)" level="INFO" additivity="false">
        <appender-ref ref="END_TO_END"/>
    </logger>

    <root level="info">
        <appender-ref ref="DEBUG"/>
    </root>

</configuration>
