<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_DIR" value="logs"/>

    <appender name="SMSC_STUB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/smsc-stub.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/debug_SmscStub.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} [%X{systemId}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="END_TO_END" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/end-to-end.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/end_to_end.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd},%d{HH:mm:ss'.'SSS},%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="EndToEnd" level="info" additivity="false">
        <appender-ref ref="END_TO_END"/>
    </logger>

    <root level="info">
        <appender-ref ref="SMSC_STUB"/>
    </root>

</configuration>
